.data-section {
    background-color: rgb(173, 144, 201);
    animation: slide 2s forwards;
    animation-delay: 0s;
    height: 40rem;

}

/* .data-section[checking=true] {
    height:35rem;
} */

@keyframes slide {
    100% { 
        flex-grow: 1; 
      }
} 

