* {
    margin: 0;
}


#header-container {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
}

#header-container h1 {
    color: black;
    padding: .5em;

}

#diseases {
    padding: .7rem;
    border-radius: 50px;
    background: rgb(255,255,255);
    margin-top: 9px;
    background: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(160,172,255,1) 50%, rgba(55,79,255,1) 97%);
}

#home {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}


a {
    text-decoration: none;
}


