#doughnut-chart[stack-display="true"]{
    height: 50em !important;
    width: 40vw !important;
}

#doughnut-chart[stack-display="false"]{
    margin-top: 5em;
    height: 40em;
    width: 20vw;
}

#disease-name {
    width: 5em;
}

