#case-charts{
    height: 38em;
    display: flex;
}

#ranking-bottom-half {
    display: flex;
    height: 38em;
}

#disease-name {
    width: 5em;
}

#piechart-topstates[stack-display="true"] {
    width: 80em;    
    /* background-color: red; */
}

#piechart-topstates[stack-display="false"] {
    width: 40em;
    /* background-color: aqua; */
}


#map-nation[stack-display="false"] {
    display: flex;
}