#doughnut-chart[stack-display="true"]{
    height: 70vh !important;
    width: 45vw !important;
    /* margin-top: 2rem; */
}

#doughnut-chart[stack-display="false"]{
    margin-top: 2.5em;
    height: 20vh;
    width: 25vw;
}
