#case-charts{
    height: 38em;
    display: flex;
}

#ranking-bottom-half {
    display: flex;
    height: 38em;
    
}

#disease-name {
    width: 5em;
}

#cases-chart{
    margin: 0 auto;
    width: auto;
    height: 40em;
    
}