.data-section{
    background: rgb(255,255,255);
    height: auto;
}

p {
    color: black;
}

.data-section {
    background: rgb(255,255,255);
    height: 40rem;

}

.data-section #left-display-state-data {
     width: 42em;

} 

@media (max-width: 768px) {
    .data-section #left-display-state-data {
         width: 100%;
    } 
    
}

